<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya Contract</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" width="50" height="30" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 450px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RESIDENTIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/electricalrepair">ELECTRICAL REPAIR SERVICES</a>
                            </li>
                            <li><a class="dropdown-item" href="/generators">GENERATORS</a></li>
                            <li><a class="dropdown-item" href="/lighting">INDOOR & OUTDOOR LIGHTING</a></li>
                            <li><a class="dropdown-item" href="/panelupgrades">PANEL UPGRADES</a></li>
                            <li><a class="dropdown-item" href="/remodelling">REMODELING</a></li>
                            <li><a class="dropdown-item" href="/homeinspection">HOME SAFETY INSPECTIONS</a></li>

                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            COMMERCIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="center.html">NEW COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="chocolaterbar.html">SERVICE COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="nut.html">UNDERGROUND CONSTRUCTION</a></li>
                            <li><a class="dropdown-item" href="center.html">STRUCTURED CABLE</a></li>


                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/security">SECURITY SYSTEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/automation">AUTOMATION</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">CONTACT</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <center>
        <div style="padding:30px;">

            <h1>ELECTRICAL REPAIR SERVICES</h1>

            <p>It can be very frustrating to experience electrical issues in your home and not know what is causing the
                problem.<br>
                Because wires are buried behind walls, it can be difficult to know where to begin.<br>
                However, you can trust the experts at Teague Electric to help you diagnose and solve all your electrical
                service issues.
            </p>
            <span>
                <img src="images/electricalrepair.jpg">
                <p>Many of the homes in this country contain outdated wiring systems, while our use of technology and
                    sophisticated electronic devices has increased dramatically.<br> Whether you are experiencing a dead
                    outlet,
                    flickering lights, or a breaker that pops every time you use your hair dryer,<br> a certified Teague
                    Electrician will be able to find the root cause of the problem and provide service needed to resolve
                    the
                    issue.</p>
            </span>
        </div>
        <center>
            <div>
                <h3>TRICHY CITY’S HIGHEST RATED ELECTRICIANS</h3>
                Your One-Stop Shop for Electrical Repair, Security Systems, Home Theater & Home Automation
            </div>

            <br>
            <br>
            <a class="btn btn-primary" href="/schedule" role="button">SCHEDULE NOW</a>
        </center>
    </center>

</body>

</html>