<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya Contract</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" width="50" height="30" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 450px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RESIDENTIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/electricalrepair">ELECTRICAL REPAIR SERVICES</a>
                            </li>
                            <li><a class="dropdown-item" href="/generators">GENERATORS</a></li>
                            <li><a class="dropdown-item" href="/lighting">INDOOR & OUTDOOR LIGHTING</a></li>
                            <li><a class="dropdown-item" href="/panelupgrades">PANEL UPGRADES</a></li>
                            <li><a class="dropdown-item" href="/remodelling">REMODELING</a></li>
                            <li><a class="dropdown-item" href="/homeinspection">HOME SAFETY INSPECTIONS</a></li>

                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            COMMERCIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="center.html">NEW COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="chocolaterbar.html">SERVICE COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="nut.html">UNDERGROUND CONSTRUCTION</a></li>
                            <li><a class="dropdown-item" href="center.html">STRUCTURED CABLE</a></li>


                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/security">SECURITY SYSTEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/automation">AUTOMATION</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">CONTACT</a>
                    </li> -->
                </ul>
            </div>

        </div>
    </nav>
    <center>
        <div style="padding:30px;">

            <h1>LIGHTING</h1>
            <br>
            <span>
                <h3>INDOOR LIGHTING</h3><br>
                <img src="images/indoorlight.jpg">
                <p>
                    <br>
                    While indoor lighting plays a vital role in every room in your home, it is often haphazardly<br>
                    planned, resulting in less-than-favorable effects on the room. The right indoor lighting can
                    change<br>
                    a room from mundane to magnificent.

                    At Teague Electric, we take great pride in helping you<br> with all your indoor lighting needs.
                    From<br>
                    standard indoor lighting to home entertainment lighting, we will always <br>provide you with service
                    you
                    can rely on at a reasonable price.<br>


                    <br>

                <h3>Kitchen Lighting</h3><br>
                Don’t underestimate the effects of the right lighting in the kitchen. Your kitchen is used for a<br>
                variety of purposes; prepping the food, cleaning up the dishes, putting away the groceries, and<br>
                enjoying a meal with your family. Different tasks require different lighting.<br>
                <br>
                <h3>Task lighting</h3><br>
                When you are prepping the food, working with sharp knives and hot stoves, the right indoor lighting<br>
                can help keep you and your family safe in the kitchen. If you have a single light in the middle of<br>
                your kitchen that provides all the lighting for this important room, consider having Teague Electric<br>
                install task lighting. Under-cabinet lighting is a great option for providing task lighting directly<br>
                onto your countertop work areas while pendant lights work well over kitchen islands.<br>
                <br>
                <h3>Indirect lighting</h3><br>
                Indirect lighting, also known as ambient light, can present itself in many forms, including lighting<br>
                above cabinets that removes the empty shadow space while adding a soft glow to the room. Many<br>
                families also enjoy pendent lighting over the breakfast bar or kitchen island. As the kitchen has<br>
                grown to become a congregating place in many homes, the professionals at Teague can help install<br>
                your indirect lighting to help you achieve just the right atmosphere.<br>
                <br>
                <h3>Accent Lighting</h3><br>
                Traditionally, guests coming over for dinner spent all their time in the dining and living room, but<br>
                as the trend grows to include kitchen entertaining, decorative accent lighting can help spotlight a<br>
                favorite art piece or decorative focal point. No matter what your indoor lighting needs are, Teague<br>
                electricians can professionally install your accent lighting.<br>
                <br>
                <h3>Bathroom Lighting</h3><br>
                Whether you are getting ready in the morning, soaking in the tub, or tiptoeing in the middle of the<br>
                night, your bathroom lighting is important. Rest assured that, no matter what lighting you choose to<br>
                have in your bathroom, Teague electricians will gladly install your lighting fixtures, heat lamps,<br>
                and GFCI outlets in a professional way that ensures your electric is safe in a room filled with<br>
                moisture and water.<br>
                </p>

                <h3>OUTDOOR LIGHTING</h3><br>
                <img src="images/outdoorlighting.jpg">
                <p>
                    <br>
                    Outdoor lighting can help set the tone for your whole-home aesthetic. Not to mention, it can
                    make<br>
                    what matters most to you a more secure living environment. When it comes to outdoor lighting,
                    Adithya<br>
                    Electric has the experience needed to satisfy your every need.<br>


                    <br>

                <h3>Outdoor Security Lighting</h3><br>
                The inclusion of security lighting in the outdoor areas surrounding your home is one of the easiest
                ways<br>
                to enhance your personal safety. In the event that a potential home invader gets too close to your
                home,<br>
                motion sensors can cast light in otherwise unlit corners, which helps deter home break-ins.<br> We care
                about your home safety and are prepared to help provide you with the lighting <br>needed to make your
                outdoor spaces safer than ever.<br>
                <br>
                <h3>Landscape Lighting</h3><br>
                Whether you are looking to improve the curb appeal of your home in the evening or enhance a
                beautiful<br>
                backyard, Teague can assist you with all your landscape lighting needs.
                <br><br>
                <h3>Luxury Lighting</h3><br>
                Enjoy your hot tub, pool, or Jacuzzi even more with mood lighting that creates a relaxing ambiance
                you<br>
                and your guests can enjoy. When it comes to lighting these areas, it is important to partner with<br>
                experts who have the skills required to ensure you’re equipped with a lasting outdoor lighting
                solution,<br>
                and that is exactly what you will receive when you partner with our electricians. Our certified<br>
                technicians are also experienced in hot tub electrical wiring.<br>
                <br>

            </span>
        </div>
        <center>
            <div>
                <h3>TRICHY CITY’S HIGHEST RATED ELECTRICIANS</h3>
                Your One-Stop Shop for Electrical Repair, Security Systems, Home Theater & Home Automation
            </div>

            <br>
            <br>
            <a class="btn btn-primary" href="/schedule" role="button">SCHEDULE NOW</a>
        </center>
    </center>

</body>

</html>