<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya Contract</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</head>

<body style=" background-color: lightblue;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" width="50" height="30" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 450px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RESIDENTIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/electricalrepair">ELECTRICAL REPAIR SERVICES</a>
                            </li>
                            <li><a class="dropdown-item" href="/generators">GENERATORS</a></li>
                            <li><a class="dropdown-item" href="/lighting">INDOOR & OUTDOOR LIGHTING</a></li>
                            <li><a class="dropdown-item" href="/panelupgrades">PANEL UPGRADES</a></li>
                            <li><a class="dropdown-item" href="/remodelling">REMODELING</a></li>
                            <li><a class="dropdown-item" href="/homeinspection">HOME SAFETY INSPECTIONS</a></li>

                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            COMMERCIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="center.html">NEW COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="chocolaterbar.html">SERVICE COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="nut.html">UNDERGROUND CONSTRUCTION</a></li>
                            <li><a class="dropdown-item" href="center.html">STRUCTURED CABLE</a></li>


                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/security">SECURITY SYSTEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/automation">AUTOMATION</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">CONTACT</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <center>
        <h3 style="padding:30px;">SCHEDULE APPOINTMENT</h3>
    </center>

    <form style="align-items: center; padding:20px;" method="POST" action="/schedule">
        <input name="userid" type="hidden" value="<%=user._id%>">
        <div class="form-group  col-md-4">
            <label class="required ">First Name</label><br>
            <input type="text" placeholder="Your first name" name="firstname" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label class="required">Last Name</label><br>
            <input type="text" placeholder="Your last name" name="lastname" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label class="required">Email</label><br>
            <input type="text" placeholder="Your email address" class="form-control" name="email">
        </div>
        <div class="form-group col-md-4">
            <label class="required">Mobile number</label><br>
            <input type="text" placeholder="Your mobile number" class="form-control" name="mobilenumber">
        </div>
        <div class="form-group col-md-4">
            <label>Address</label>
            <textarea class="form-control" rows="3" name="address"></textarea>
        </div>
        <div class="form-group col-md-4">
            <label>City</label><br>
            <input type="text" placeholder="City" class="form-control" name="city">
        </div>
        <div class="form-group col-md-4">
            <label>Zip Code</label><br>
            <input type="text" placeholder="Zip Code" class="form-control" name="zipcode">
        </div>
        <div class="form-group col-md-4">
            <label>State</label>
            <select class="form-control" name="state">
                <option value="tamilnadu">Tamil Nadu</option>
                <option value="kerala">Kerala</option>
                <option value="karnataka">Karnataka</option>
                <option value="andhra pradesh">Andhra Pradesh</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Date</label>
            <input type="date" class="form-control" name="date">
        </div>
        <div class="form-group col-md-4">
            <label>Time slot</label>
            <select class="form-control" name="timeslot">
                <option value="9.00 a.m. to 12.30 p.m.">9.00 a.m. to 12.30 p.m.</option>
                <option value="1.00 p.m. to 4.30 p.m.">1.00 p.m. to 4.30 p.m.</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label>Service Type</label>
            <select id="servicetype" class="form-control" name="servicetype">
                <option value="electrical repair">Electrical Repair</option>
                <option value="generators">Generators</option>
                <option value="security">Security</option>
                <option value="remodelling">Remodelling</option>
                <option value="electrical system inspection">Electrical System Inspection</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label>Property Type</label>
            <select class="form-control" name="propertytype">
                <option value="residential">Residential</option>
                <option value="commercial">Commercial</option>
            </select>

        </div>
        <br>
        <button class="btn btn-primary" type="button" onclick="myFunction()">Get Price</button>
        <div class="form-group col-md-4">
            <label>Price</label><br>
            <input type="text" class="form-control" name="price" id="price">

        </div>
        <br>
        <br>
        <!-- <a class="btn btn-primary" role="button" value="Add Name">Submit</a> -->
        <button class="btn btn-primary">Submit</button>
    </form>




    <script>
        function myFunction() {
            var x = document.getElementById("servicetype").value;

            if (x == "electrical repair") {
                document.getElementById("price").setAttribute("value", "250");
            } if (x == "generators") {
                document.getElementById("price").setAttribute("value", "7500");
            }
            if (x == "security") {
                document.getElementById("price").setAttribute("value", "150");
            }

            if (x == "remodelling") {
                document.getElementById("price").setAttribute("value", "1000");
            }
            if (x == "electrical system inspection") {
                document.getElementById("price").setAttribute("value", "750");
            }
        }
    </script>
</body>

</html>