<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya Contract</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" width="50" height="30" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 450px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RESIDENTIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/electricalrepair">ELECTRICAL REPAIR SERVICES</a>
                            </li>
                            <li><a class="dropdown-item" href="/generators">GENERATORS</a></li>
                            <li><a class="dropdown-item" href="/lighting">INDOOR & OUTDOOR LIGHTING</a></li>
                            <li><a class="dropdown-item" href="/panelupgrades">PANEL UPGRADES</a></li>
                            <li><a class="dropdown-item" href="/remodelling">REMODELING</a></li>
                            <li><a class="dropdown-item" href="/homeinspection">HOME SAFETY INSPECTIONS</a></li>

                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            COMMERCIAL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="center.html">NEW COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="chocolaterbar.html">SERVICE COMMERCIAL</a></li>
                            <li><a class="dropdown-item" href="nut.html">UNDERGROUND CONSTRUCTION</a></li>
                            <li><a class="dropdown-item" href="center.html">STRUCTURED CABLE</a></li>


                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/security">SECURITY SYSTEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/automation">AUTOMATION</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">CONTACT</a>
                    </li> -->
                </ul>
            </div>

        </div>
    </nav>
    <center>
        <div style="padding:30px;">

            <h1>SECURITY</h1>
            <br>
            <span>
                <h3>COMMERCIAL SECURITY</h3><br>

                <p>


                <h3>Access Control</h3><br>
                Electronic access control is a great way to reduce the costs of rekeying locks after an employee is<br>
                terminated or a key is lost. Additionally, it allows you to control who can go where, and when, in
                your<br>
                facility. Have sensitive areas that you want to limit to designated individuals? With an electronic<br>
                access control, you can determine that public areas of your building are open and unlocked during<br>
                business hours while requiring something as simple as a card swipe or as sophisticated as a
                biometric<br>
                finger read to enter ultra-secure areas of your building. The professionals at Teague have the
                knowledge<br>
                and expertise to ensure that your access control system complies with fire codes and still ensures
                the<br>
                safety of your facility.<br>
                <br>
                <h3>Digital Video Surveillance</h3><br>
                Why wonder what is happening in your commercial facility when you can see for yourself? With digital<br>
                video surveillance systems, you can view video over your phone, tablet or computer from anywhere with
                an<br>
                Internet connection. Digital video surveillance has advanced from tape systems to video being stored
                on<br>
                network devices or even in the cloud. This improves the ability to view specific time periods or
                events<br>
                without wading through hours of uneventful video.<br>
                <br>
                <h3>Burglar Systems</h3><br>
                Sometimes the best deterrent to a break-in is simply having a <br>security system installed and promoted
                in
                your commercial building.
                <br><br>
                <h3>Intercom and Overhead Paging Systems</h3><br>
                Overhead paging and intercom systems help you get your message out in a professional, easy to hear<br>
                manner. Adithya contract has experience in installing and wiring paging systems and intercoms for:<br>

                -> Restaurants<br>
                -> Schools<br>
                -> Office Buildings<br>
                -> Hospitals<br>
                -> Emergency Alert Systems<br>
                -> Nursing Homes<br>
                No matter what challenge you are facing on the security front, you can count on the <br>experts at
                Adithya contract to
                provide you with the solution that fits your requirements and budget – <br>and we guarantee that it will
                be
                installed correctly on-time, the first-time.<br>
                <br>


                <h3>HOME SECURITY</h3><br>

                <p>

                <h3>Security Systems</h3><br>
                Home security can be much more than turning on your burglar alarm system at night or when you leave
                the<br>
                house. With today’s technology, you can arm and disarm your system and even monitor activity in your<br>
                home remotely, from your phone or tablet. The security experts at Adithya contract can install a new
                security<br>
                system or update your existing hardware so that you can take advantage of these new features.<br>
                <br>
                <h3>Security Cameras</h3><br>
                Now you can really see that your family is safe and secure with home security cameras available from<br>
                Adithya contract Security. Our expert security professionals can help you choose from the wide variety
                of
                options<br>
                that exist when it comes to video surveillance. From night vision to motion-activated and everything
                in<br>
                between, let the professionals at Adithya contract Security increase the level of security in your home
                with<br>
                custom-tailored home security system solutions.<br>
                <br><br>
                <h3>Fire Safety</h3><br>
                Home security entails more than surveillance systems and burglar alarms. Take fire safety for
                example.<br>
                When is the last time you had your smoke detectors tested? Do you have one in every room in your
                home?<br>
                Are you changing the batteries on a regular basis? The security experts at Adithya Contract can help
                you<br>
                sleep
                better at night with a security inspection of your fire safety devices to <br>ensure your smoke
                detectors
                are properly installed and functioning correctly.<br> We can also integrate your smoke detectors with
                your
                security system for a complete monitoring solution.<br>
                <br>

            </span>
        </div>
        <center>
            <div>
                <h3>TRICHY CITY’S HIGHEST RATED ELECTRICIANS</h3>
                Your One-Stop Shop for Electrical Repair, Security Systems, Home Theater & Home Automation
            </div>

            <br>
            <br>
            <a class="btn btn-primary" href="/schedule" role="button">SCHEDULE NOW</a>
        </center>
    </center>

</body>

</html>